body {
    background-image: radial-gradient(#ffffff, #afe7e7, #78d8d8);
}

footer {
    position: sticky;
    bottom: 2px;
    margin: 8px;
    opacity: 0.8;
    font-size: smaller;
    border-top: 2px solid grey;
}

