img[alt="logo"] {
    width: 30px !important;
}

.title {
    flex: 1;
    text-align: left;
}

.refresh {
    justify-self: flex-end;
    align-self: center;
    margin: 5px;
}

.custom-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.hour {
    font-weight: 600;
    margin-right: 2px;
    text-align: center;
    height: 3rem;
    width: 3rem;
}

.free {
    background-color: #90ee90;
    border: 1px solid lightskyblue;
    cursor: pointer;
}

.hooverable:hover {
    background-color: #3ad33a;
    border: 1px solid #ffffff;
}

.occupied {
    color: white;
    cursor: not-allowed;
}

.red {
    background-color: darkred;
}

.blue {
    background-color: blue;
}

.hoover {
    display: none;
    position: fixed;
    padding: 3px;
    border: 1px solid red;
    background-color: wheat;
    font-size: 12px;
    z-index: 3;
}